<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">Panier ({{products.length}}) articles</h4>
  </div>
  <div class="modal-body">
    <div class="panel panel-default">
      <div class="table-responsive">
        <table class="table table-striped table-bordered">

        <thead>
          <tr>
              <th>Nom</th>
              <th>Qte</th>
              <th>prix</th>

              <th>Actions</th> 
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat = "product in products track by $index">
              <td ng-if="product">{{product.name}}</td>
              <td ng-if="product"><input type="number" min="1" value="{{product.qte}}" ng-model="product.qte"></td>
              <td ng-if="product">{{product.price}}</td>
              <td ng-if="product">
                <span data-feather="x-square" ng-click="removeItem(product)">x</span>
              </td>
          </tr>
        </tbody>

        </table>
    </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="submit(products)">Confirmer la commande</button>
    <button class="btn btn-default" ng-click="cancel()">Annuler</button>
</div>