<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">{{product}}</h4>
  </div>
  <div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-body">
             Vous n'est pas authentifié !<br>
             Vous devez vous identifié pour continuer votre achat
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="goLogin()">Se Connecter</button>
    <button class="btn btn-info" ng-click="goSignup()">S'inscrire</button>
</div>