<div class="modal-header">
    <h4 class="modal-title" id="myModalLabel">{{product}}</h4>
  </div>
  <div class="modal-body">
    <div class="panel panel-default">
        <div class="panel-body">
             Quantité <input type="text" ng-model="qte">
        </div>
    </div>
  </div>
  <div class="modal-footer">
    <button class="btn btn-success" ng-click="submit()">Confirmer</button>
    <button class="btn btn-default" ng-click="cancel()">Annuler</button>
</div>